.contenedor_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 100px;
    grid-template-areas: "menu"
        "main"
        "footer"
}

@include media-up (sm) {
    .contenedor_institucional {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto 100px;
        grid-template-areas: "menu"
            "header"
            "main "
            "footer";
    }
}

@include media-up (md) {
    .contenedor_institucional {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "menu"
            "header"
            "main "
            "footer";
    }
}

@include media-up (lg) {
    .contenedor_institucional {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "menu"
            "header"
            "main "
            "footer";
    }
}

@include media-up (sm) {
    .contenedor_encontranos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "menu"
            "header"
            "main"
            "footer";
    }
}

@include media-up (md) {
    .contenedor_encontranos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "menu   menu"
            "header header"
            "main main"
            "footer footer";
    }
}

@include media-up (lg) {
    .contenedor_encontranos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "menu   menu"
            "header header"
            "main main"
            "footer footer";
    }
}

.contenedor_cursos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 100px;
    grid-template-areas: "menu "
        "header"
        "descripcion"
        "cursos"
        "footer";
}

@include media-up (sm) {
    .contenedor_contactanos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto auto 100px;
        grid-template-areas: "menu "
            "header"
            "main"
            "footer";
    }
}

@include media-up (md) {
    .contenedor_contactanos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px auto auto 100px;
        grid-template-areas: "menu "
            "header"
            "main"
            "footer";
    }
}

@include media-up (lg) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "menu "
            "header"
            "main"
            "footer";
    }

}