   
.boton_index {
    @include propiedadesBotonIndex (#fdfcfc, 20px, 10px, 15px, rgba(210, 159, 104, 0), 100px, 0px, 35px);
    font-family: Arial, Helvetica, sans-serif;

    .boton_index {
        transition-duration: 0.4s;

        .boton_index:hover {
            transform: scale(1.1);
            background-color: #c8e4e7d2;
        }
    }
}