a {
    text-decoration: none;
    color: #2E5399;
    position: relative;
}

.contenedor_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 100px;
    grid-template-areas: "menu"
        "main"
        "footer"
}

.maincontenedor_index{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.card_container{
    margin: 5px;
    padding: 15px;
}