a {
    text-decoration: none;
    color: #2E5399;
    position: relative;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 100px;
    grid-template-areas: "menu"
        "main"
        "footer"
}
.main-contenedor{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.principal {
    grid-area: main;
    background-image: url(../img/maestra-jardin-infantes-sosteniendo-cuaderno_23-2148633311.webp);
    height: 1000px;
    padding: 15px;
    margin-top: 15px;
    color: $colorPrimario;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;

    .titulo {
        font-family: $font-family;
        font-size: 150px;
        letter-spacing: 1px;
        word-spacing: 3px;

        .aprende {
            font-size: 60px;
            letter-spacing: 1px;
            word-spacing: 3px;
            font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
            text-transform: uppercase;
            color: $colorSecundario;
            text-align: center;

            .aprende:hover {
                transform: scale(1);

                .lema {
                    font-weight: bold 90px;
                    font-size: 30px;
                    letter-spacing: 1px;
                    word-spacing: 3px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: $colorSecundario;

                }
            }

        }

    }
}

@include media-up (sm) {
    h1 {
        text-align: center;
    }
}

@include media-up (md) {
    h1 {
        text-align: center;
    }
}

@include media-up (lg) {
    h1 {
        text-align: center;
        margin: map-get($h1-lg, margin-top)
    }
}