* {
    margin: 0;
    padding: 0;
}


.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 100px;
    grid-template-areas: "menu"
        "main"
        "footer"
}
@import "./incommon/mixins";
@import "./incommon/variables";
@import "./breakpoints/breakpointsindex";
@import "./incommon/iconosnavfooter";
@import "./incommon/menu";
@import "./incommon/header";
@import "./sections-index/button";
@import "./sections-index/maincontent";
@import "./incommon/footer";



