* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto 100px;
    grid-template-areas: "menu "
        "header"
        "descripcion"
        "cursos"
        "footer";
}

a {
    text-decoration: none;
    color: #143666;
    position: relative;
}


.logo {
    width: 80px;
    height: 80px;
    margin: 0px;
}

.logo:hover {
    transform: scale(1.1);
}

.logo img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.sizewhatsapp {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

.sizeinstagram {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

.sizefacebook {
    width: 35px;
    height: 37px;
    padding: 5px;
    margin: 5px;
}

.menu {
    background-color: white;
    grid-area: menu;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.redes {
    padding: 10px;
}

.redes:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    position: relative;
}

.navbar li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px;
    margin: 2px;
    text-align: center;
    line-height: 18px;
}

.navbar li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2E5399;
    position: absolute;
    left: 0;
    bottom: 0%;
    transform: scale(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.navbar li a:hover::after {
    transform: scale(1);
}

header {
    grid-area: header;
    background-image: url(../img/maestra-jardin-infantes-sosteniendo-cuaderno_23-2148633311.webp);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: auto;
}

.btncursos {
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "niños"
        "adolescentes"
        "adultos"
        "examenes";

}

.btn-niños {
    grid-area: niños;
    color: #143666;
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/panel_camb_young_learners.jpg);
    width: 300px;
    height: 280px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #143666;
}

.btn-niños:hover {
    transform: scale(1.1);
}

.btn-adolescentes {
    grid-area: adolescentes;
    color: #143666;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/panel_adolescentes.jpg);
    width: 300px;
    height: 280px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #143666;
}

.btn-adolescentes:hover {
    transform: scale(1.1);
}

.btn-adultos {
    grid-area: adultos;
    color: #143666;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/panel_adultos.jpg);
    width: 300px;
    height: 280px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #143666;
}

.btn-adultos:hover {
    transform: scale(1.1);
}

.btn-examenes {
    grid-area: examenes;
    color: #143666;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/panel-cursos-cambridge-edited.jpg);
    width: 300px;
    height: 280px;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #143666;
}

.btn-examenes:hover {
    transform: scale(1.1);
}

.cardcontenedor {
    grid-area: cursos;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "kids"
        "teens"
        "senior"
        "exams";
}


.cardkinder {
    grid-area: kids;
    justify-content: center;
    align-items: center;
}

.cardteens {
    grid-area: teens;
    justify-content: center;
    align-items: center;
}

.cardsenior {
    grid-area: senior;
    justify-content: center;
    align-items: center;
}

.cardexamenes {
    grid-area: exams;
    justify-content: center;
    align-items: center;
}

h3 {
    display: flex;
    flex-direction: wrap;
    display: inline-block;
    align-items: stretch;
    width: 180px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #143666;
}

.listacursos li {
    width: 180px;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

footer {
    grid-area: footer;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media(min-width:1200px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto auto auto auto 100px;
        grid-template-areas: "menu"
            "header"
            "descripcion"
            "cursos"
            "footer";
    }

    a {
        text-decoration: none;
        color: #143666;
        position: relative;
    }


    .logo {
        width: 80px;
        height: 80px;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    .logo img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .sizewhatsapp {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
    }

    .sizeinstagram {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
    }

    .sizefacebook {
        width: 35px;
        height: 37px;
        padding: 5px;
        margin: 5px;
    }

    .menu {
        grid-area: menu;
        background-color: white;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 1;
    }

    .redes {
        padding: 10px;
    }

    .redes:hover {
        transform: scale(1.1);
    }

    ul {
        list-style: none;
    }

    .nav-link {
        margin: 20px;
        color: #2E5399 !important;
    }

    .menu li {
        display: inline-block;
        font-size: 20px;
        padding: 15px;
    }

    ul li a::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #2E5399;
        position: absolute;
        left: 0;
        bottom: 0%;
        transform: scale(0);
        transform-origin: left;
        transition: transform .25s ease;
    }

    ul li a:hover::after {
        transform: scale(1);
    }

    header {
        background-image: url(../img/maestra-jardin-infantes-sosteniendo-cuaderno_23-2148633311.webp);
        height: 300px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #2E5399;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    h1 {
        font-size: 100px;
        text-align: center;
        margin: auto;
    }

    .btncursos {
        grid-area: descripcion;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .btn-niños {
        color: #143666;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../img/panel_camb_young_learners.jpg);
        width: 300px;
        height: 280px;
        margin: 20px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: #143666;
    }

    .btn-niños:hover {
        transform: scale(1.1);
    }

    .btn-adolescentes {
        color: #143666;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../img/panel_adolescentes.jpg);
        width: 300px;
        height: 280px;
        margin: 20px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: #143666;
    }

    .btn-adolescentes:hover {
        transform: scale(1.1);
    }

    .btn-adultos {
        color: #143666;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../img/panel_adultos.jpg);
        width: 300px;
        height: 280px;
        margin: 20px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: #143666;
    }

    .btn-adultos:hover {
        transform: scale(1.1);
    }

    .btn-examenes {
        color: #143666;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../img/panel-cursos-cambridge-edited.jpg);
        width: 300px;
        height: 280px;
        margin: 20px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: #143666;
    }

    .btn-examenes:hover {
        transform: scale(1.1);
    }

    .cardcontenedor {
        grid-area: cursos;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin: 15px;
    }

    .cardkinder {
        justify-content: center;
        margin: 0px auto;
        align-items: center;
    }

    .cardteens {
        justify-content: center;
        margin: 0px auto;
        align-items: center;
    }

    .cardsenior {
        justify-content: center;
        margin: 0px auto;
        align-items: center;
    }

    .cardexamenes {
        justify-content: center;
        margin: 0px auto;
        align-items: center;
    }

    h3 {
        display: flex;
        flex-direction: wrap;
        display: inline-block;
        align-items: stretch;
        width: 180px;
        font-size: 30px;
        padding: 10px;
        text-align: center;
        position: relative;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #143666;
    }

    h3:hover {
        transform: scale(1.1);
    }

    .listacursos li {
        width: 180px;
        font-size: 24px;
        padding: 10px;
        text-align: center;
        position: relative;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .listacursos:hover {
        transform: scale(1.1);
    }


    footer {
        grid-area: footer;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}