* {
    margin: 0;
    padding: 0;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "menu"
        "header"
        "main"
        "footer";
}

a {
    text-decoration: none;
    color: #143666;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 0px;
}

.logo img {
    display: flex;
    justify-content: left;
    align-items: left;
}

.sizewhatsapp {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

.sizeinstagram {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 5px;
}

.sizefacebook {
    width: 35px;
    height: 37px;
    padding: 5px;
    margin: 5px;
}

.menu {
    grid-area: menu;
    background-color: white;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.redes {
    padding: 10px;
}

ul {
    list-style: none;
    position: relative;
}

ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0px;
    margin: 2px;
    text-align: center;
}

ul li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2E5399;
    position: absolute;
    left: 0;
    bottom: 0%;
    transform: scale(0);
    transform-origin: left;
    transition: transform .25s ease;
}

ul li a:hover::after {
    transform: scale(1);
}


header {
    grid-area: header;
    background-image: url(../img/maestra-jardin-infantes-sosteniendo-cuaderno_23-2148633311.webp);
    height: 300px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: auto;
}

.main-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mapa"
        "online";
}

.titulo {
    margin-left: 15px;
    height: 70px;
    position: absolute;
    display: flex;
    justify-content: left;
    text-align: center;
    flex-direction: wrap;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold 90px;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.mapa {
    grid-area: mapa;
    display: flex;
    flex-direction: column;
}

.direccion {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    padding: 15px;
    margin: 35px;
}

.ubicacion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.online-contenedor {
    background-color: #80afff5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    box-shadow: 5px 10px 5px gray;
    border-radius: 4px;
    width: 600px;
    padding: 15px;
    margin: 15px;
}

.online {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online img {
    height: 100%;
    width: 100%;
}

.titulocursos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold 90px;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.descripcion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}

footer {
    grid-area: footer;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media(min-width:1200px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto auto 100px;
        grid-template-areas: "menu   menu"
            "header header"
            "main main"
            "footer footer";
    }

    a {
        text-decoration: none;
        color: #143666;
        position: relative;
    }

    .logo {
        width: 80px;
        height: 80px;
        margin: 0px;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    .logo img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: left;
    }

    .sizewhatsapp {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
    }

    .sizeinstagram {
        width: 40px;
        height: 40px;
        padding: 5px;
        margin: 5px;
    }

    .sizefacebook {
        width: 35px;
        height: 37px;
        padding: 5px;
        margin: 5px;
    }

    .menu {
        grid-area: menu;
        background-color: white;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        position: sticky;
        top: 0;
        overflow: hidden;
    }

    .redes {
        padding: 10px;
    }

    .redes:hover {
        transform: scale(1.1);
    }

    ul {
        list-style: none;
    }

    ul li {
        display: inline-block;
        font-size: 20px;
        padding: 15px;
    }

    ul li a::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #2E5399;
        position: absolute;
        left: 0;
        bottom: 0%;
        transform: scale(0);
        transform-origin: left;
        transition: transform .25s ease;
    }

    ul li a:hover::after {
        transform: scale(1);
    }

    header {
        grid-area: header;
        background-image: url(../img/maestra-jardin-infantes-sosteniendo-cuaderno_23-2148633311.webp);
        height: 500px;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: wrap;
        color: #2E5399;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold 90px;
        font-size: 70px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    h1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        margin-bottom: auto;
    }
    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px;
    }

    .titulo {
        margin-left: 15px;
        height: 70px;
        position: absolute;
        display: flex;
        justify-content: left;
        text-align: center;
        flex-direction: wrap;
        color: #2E5399;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold 90px;
        font-size: 35px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    .direccion {
        height: auto;
        justify-content: center;
        align-items: baseline;
        font-family: Arial, Helvetica, sans-serif;
    }

    iframe {
        padding: 15px;
        margin: 35px;
    }

    .ubicacion {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .online-contenedor {
        background-color: #80afff5b;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        box-shadow: 5px 10px 5px gray;
        border-radius: 4px;
        width: 600px;
        padding: 15px;
        margin: 15px;
    }

    .online {
        width: 80px;
        height: 80px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .online img {
        height: 100%;
        width: 100%;
    }

    .titulocursos {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2E5399;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold 90px;
        font-size: 35px;
        letter-spacing: 1px;
        word-spacing: 3px;
    }

    .descripcion {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        text-align: justify;
        align-items: center;
        justify-content: center;
    }

    footer {
        grid-area: footer;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
    }
}