@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 100px;
  grid-template-areas: "menu" "main" "footer"; }

@media scren and (min-width: 576px) {
  .contenedor_institucional {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 100px;
    grid-template-areas: "menu" "header" "main " "footer"; } }

@media scren and (min-width: 768px) {
  .contenedor_institucional {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "menu" "header" "main " "footer"; } }

@media scren and (min-width: 1200px) {
  .contenedor_institucional {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "menu" "header" "main " "footer"; } }

@media scren and (min-width: 576px) {
  .contenedor_encontranos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "menu" "header" "main" "footer"; } }

@media scren and (min-width: 768px) {
  .contenedor_encontranos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "menu   menu" "header header" "main main" "footer footer"; } }

@media scren and (min-width: 1200px) {
  .contenedor_encontranos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "menu   menu" "header header" "main main" "footer footer"; } }

.contenedor_cursos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto 100px;
  grid-template-areas: "menu " "header" "descripcion" "cursos" "footer"; }

@media scren and (min-width: 576px) {
  .contenedor_contactanos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto 100px;
    grid-template-areas: "menu " "header" "main" "footer"; } }

@media scren and (min-width: 768px) {
  .contenedor_contactanos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto 100px;
    grid-template-areas: "menu " "header" "main" "footer"; } }

@media scren and (min-width: 1200px) {
  .contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: "menu " "header" "main" "footer"; } }

.sizewhatsapp, .sizeinstagram, .sizefacebook {
  width: 50px;
  height: 50px; }

.sizewhatsapp:hover, .sizeinstagram:hover, .sizefacebook:hover {
  transform: scale(1.1); }

.sizeinstagram:hover {
  transform: scale(1.1); }

.sizefacebook:hover {
  transform: scale(1.1); }

@media (max-width: 500px) {
  .sizewhatsapp, .sizeinstagram, .sizefacebook {
    width: 20px;
    height: 20px; } }

@media (max-width: 800px) {
  .sizewhatsapp, .sizeinstagram, .sizefacebook {
    width: 30px;
    height: 30px; } }

.redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px; }

.logo {
  width: 80px;
  height: 80px;
  margin: 3px; }
  .logo .logo:hover {
    transform: scale(1.1); }
    .logo .logo:hover .logo img {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: left;
      align-items: left; }

@media (max-width: 500px) {
  .logo {
    width: 30px;
    height: 30px; } }

@media (max-width: 800px) {
  .logo {
    width: 40px;
    height: 40px; } }

a {
  text-decoration: none;
  color: #2E5399;
  position: relative; }

.menu {
  width: 100%;
  background-color: white;
  grid-area: menu;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1; }

.navbar-light .navbar-nav .nav-link {
  color: #2e5399; }

.navbar-nav {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between; }

.nav-item {
  color: #2E5399 !important;
  margin: 15px; }

.nav-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #2E5399;
  position: absolute;
  left: 0;
  bottom: 0%;
  transform: scale(0);
  transform-origin: left;
  transition: transform .25s ease; }

.nav-item a:hover::after {
  transform: scale(1); }

.principal {
  grid-area: header;
  background-image: url(../img/maestra-jardin-infantes-sosteniendo-cuaderno_23-2148633311.webp);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #2E5399;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  letter-spacing: 1px;
  word-spacing: 3px; }

h1 {
  font-size: 100px;
  text-align: center;
  margin: auto; }

@media (max-width: 700px) {
  h1 {
    font-size: 70px; } }

footer {
  grid-area: footer;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif; }

@media (max-width: 600px) {
  footer {
    font-size: 5px; } }

@media (min-width: 600px) {
  footer {
    font-size: 15px; } }

@media (min-width: 1200px) {
  footer {
    font-size: 15px; } }

.boton_index {
  transition: background-color 300ms ease 0ms, border-radius 300ms ease 0ms;
  margin: 20px;
  padding: 10px;
  border-width: 15px;
  border-color: rgba(210, 159, 104, 0);
  border-radius: 100px;
  letter-spacing: 0px;
  font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif; }
  @media scren and (min-width: 576px) {
    .boton_index {
      font-size: 25px;
      font-weight: 700; } }

@media scren and (min-width: 768px) {
  .boton_index {
    font-size: 30px;
    font-weight: 700; } }

@media (min-width: 1200px) {
  .boton_index {
    font-size: 35px;
    font-weight: 700; } }

.btn {
  margin: 15px; }

a {
  text-decoration: none;
  color: #2E5399;
  position: relative; }

.contenedor_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 100px;
  grid-template-areas: "menu" "main" "footer"; }

.maincontenedor_index {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center; }

.card_container {
  display: flex;
  margin: 5px;
  padding: 15px; }

.card {
  transition: transform .15s; }

.card:hover {
  transform: scale(1.015); }

.card-encontranos {
  display: flex; }

.maincontainer_institucional {
  grid-area: main;
  background-color: rgba(138, 138, 148, 0.233);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center; }

@media (max-width: 600px) {
  .maincontainer_institucional {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "trayectoria" "mision"; } }

.trayectoria, .mision {
  grid-area: trayectoria;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }

.trayectoriacontenedor, .misionymetascontenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center; }

.trayectoriaparrafo, .misionparrafo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.mision {
  grid-area: mision; }

.mision-img {
  width: 100%;
  padding: 20px;
  border-radius: 5px; }

@media (max-width: 1500px) {
  .videoinstitucional {
    width: 100%; } }

@media (min-width: 1500px) {
  .videoinstitucional {
    width: 850px;
    height: 550px; } }

@media scren and (min-width: 768px) {
  .titulotrayectoria {
    margin-left: 15px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px; }
  .titulomision {
    margin-left: 15px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px; } }

@media scren and (min-width: 1200px) {
  .titulotrayectoria {
    margin-left: 15px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px; }
  .titulomision {
    margin-left: 15px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    color: #2E5399;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px; } }

.maincontainer_encontranos {
  grid-area: main;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

@media (max-width: 700px) {
  .maincontainer_encontranos {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mapa" "online"; } }

.titulo_mapa {
  margin-left: 15px;
  height: 70px;
  position: absolute;
  color: #2E5399;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 3px; }

.mapa {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center; }

.direccion {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif; }

iframe {
  padding: 15px;
  margin: 35px; }

.ubicacion {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px; }

.online-contenedor {
  background-color: #80afff5b;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 4px;
  width: 600px;
  padding: 15px;
  margin: 15px; }

.online {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.online img {
  height: 100%;
  width: 100%; }

.titulocursos {
  position: relative;
  color: #2E5399;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 3px; }

.descripcion_online {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  text-align: justify;
  align-items: center;
  justify-content: center; }

.btncursos {
  grid-area: descripcion;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap; }

@media (max-width: 600px) {
  .btncursos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "ni単os" "adolescentes" "adultos" "examenes"; } }

.btn-ni単os {
  color: #143666;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 280px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: #2E5399;
  grid-area: ni単os;
  background-image: url(../img/panel_camb_young_learners.jpg); }

.btn-ni単os:hover {
  transform: scale(1.1); }

.btn-adolescentes {
  color: #143666;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 280px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: #2E5399;
  grid-area: adolescentes;
  background-image: url(../img/panel_adolescentes.jpg); }

.btn-adolescentes:hover {
  transform: scale(1.1); }

.btn-adultos {
  color: #143666;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 280px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: #2E5399;
  grid-area: adultos;
  background-image: url(../img/panel_adultos.jpg); }

.btn-adultos:hover {
  transform: scale(1.1); }

.btn-examenes {
  color: #143666;
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  height: 280px;
  margin: 20px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: #2E5399;
  grid-area: examenes;
  background-image: url(../img/panel-cursos-cambridge-edited.jpg); }

.btn-examenes:hover {
  transform: scale(1.1); }

.cardcontenedor {
  grid-area: cursos;
  overflow-x: hidden !important;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin: 15px; }

@media (max-width: 600px) {
  .cardcontenedor {
    grid-area: cursos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "kids" "teens" "senior" "exams"; } }

.cardkinder {
  grid-area: kids;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

.cardteens {
  grid-area: teens;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

.cardsenior {
  grid-area: senior;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

.cardexamenes {
  grid-area: exams;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }

h3 {
  display: flex;
  display: inline-block;
  align-items: stretch;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #143666; }

.listacursos {
  list-style: none;
  line-height: 45px;
  width: 180px;
  font-size: 28px;
  padding: 10px;
  text-align: center;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.titulo_cont {
  margin-left: 15px;
  height: 50px;
  display: flex;
  justify-content: left;
  text-align: left;
  flex-direction: wrap;
  color: #2E5399;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 3px; }

@media (max-width: 500px) {
  .titulo_cont {
    font-size: 25px;
    height: 35px; } }

.maincontainer-contactanos {
  grid-area: main;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px; }
  @media (max-width: 1200px) {
    .maincontainer-contactanos .contactanos-img {
      display: none; } }
  .maincontainer-contactanos .contactanos-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center; }

.contactanos-form {
  width: 100%;
  background-color: #80afff5b;
  height: max-content;
  box-shadow: 5px 10px 5px gray;
  border-radius: 4px;
  width: 600px;
  padding: 15px;
  margin: 15px; }
  .contactanos-form .formulario {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    font-size: 18px;
    line-height: 30px; }
  .contactanos-form .form-input {
    padding: 10px;
    margin: 10px 10px 10px 0;
    width: 100%;
    border-radius: 4px;
    height: 38px;
    border: none; }
