@mixin propiedadesBotonIndex ($bg-color, $margin, $padding, $border-width, $border-color, $border-radius, $letter-spacing, $font-size) {
    background-color: $bg-color;
    margin: $margin;
    padding: $padding;
    border-width: $border-width;
    border-color: $border-color;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
}

@mixin propiedadesbtncursos ($color, $display, $justify-content, $align-items, $font-size, $font-family, $width, $height, $margin, $padding, $border-radius, $box-shadow) {
    color: $color;
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    font-size: $align-items;
    font-family: $font-family;
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

@mixin cardscursos ($justify-content, $align-items) {
    justify-content: $justify-content;
    align-items: $align-items;
}