.titulo_cont {
    margin-left: 15px;
    height: 50px;
    display: flex;
    justify-content: left;
    text-align: left;
    flex-direction: wrap;
    color: $colorPrimario;
    font-family: $font-family1;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

@media (max-width: 500px) {
    .titulo_cont {
        font-size: 25px;
        height: 35px;
    }
}

.maincontainer-contactanos {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;

    @media (max-width: 1000px) {
        .contactanos-img {
            display: none;
        }
    }

    .contactanos-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.contactanos-form {
    width: 100%;
    background-color: #80afff5b;
    height: max-content;
    box-shadow: 5px 10px 5px gray;
    border-radius: 4px;
    width: 600px;
    padding: 15px;
    margin: 15px;

    .formulario {
        width: 100%;
        font-family: $font-family1;
        font-size: 15px;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
    }

    .form-input {
        padding: 10px;
        margin: 10px 10px 10px 0;
        width: 100%;
        border-radius: 4px;
        height: 38px;
        border: none;
    }
}