.maincontainer_encontranos{
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 700px){
    .maincontainer_encontranos{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mapa"
        "online";
}
}

.titulo_mapa {
    margin-left: 15px;
    height: 70px;
    position: absolute;
    color: $colorPrimario;
    font-family: $font-family1;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.mapa {
    grid-area: mapa;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.direccion {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family1;
}

iframe {
    padding: 15px;
    margin: 35px;
}

.ubicacion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.online-contenedor {
    background-color: #80afff5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 4px;
    width: 600px;
    padding: 15px;
    margin: 15px;
}

.online {
    width: 80px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online img {
    height: 100%;
    width: 100%;
}

.titulocursos {
    position: relative;
    color: $colorPrimario;
    font-family: $font-family1;
    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.descripcion_mision {
    font-family: $font-family1;
    font-size: 25px;
    text-align: justify;
    align-items: center;
    justify-content: center;
}