// lista de cursos//
.cardcontenedor {
    grid-area: cursos;
    overflow-x: hidden !important;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin: 15px;
}
    @media (max-width: 600px) {
        .cardcontenedor {
            grid-area: cursos;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-template-areas: "kids"
                "teens"
                "senior"
                "exams";
        }
    }

//estilo de la lista de los cursos//
    .cardkinder {
        grid-area: kids;
        @include cardscursos (flex, flex-start, center, column, wrap, center);

    }

    .cardteens {
        grid-area: teens;
        @include cardscursos (flex, flex-start, center, column, wrap, center);
  }
    .cardsenior {
        grid-area: senior;
        @include cardscursos (flex, flex-start, center, column, wrap, center);
    }

    .cardexamenes {
        grid-area: exams;
        @include cardscursos (flex, flex-start, center, column, wrap, center);
    }