h3 {
    display: flex;
    flex-direction: wrap;
    display: inline-block;
    align-items: stretch;
    width: 180px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: $colorTerciario;
}

.listacursos {
    list-style: none;
    line-height: 45px;
    width: 180px;
    font-size: 28px;
    padding: 10px;
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}